Source: com.github.jhthompson.elementary-app-tutorial
Section: x11
Priority: optional
Maintainer: Jeremy Thompson <jhthompson@upei.ca>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.jhthompson.elementary-app-tutorial
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hey young world
 This is a Hello World written in Vala using Meson build system.
